<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elephant.loan">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RealNameVerifyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.IdentityInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DataInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CollectionBankCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PhoneAuthActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HandWriteSignatureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyBackLoanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyLoanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CommonProblemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoanDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ContractActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>